@{
    ViewBag.Title = "Site Provisioning";
}

<div class="container" style="margin-top:2em">
    <div id="panel_operation" class="row">
        <input id="btn_siteProvisioning" class="btn btn-default" type="submit" value="Create Demo Site collection" />
    </div>
    <div id="panel_status" style="font-size:1.5em; display:none">
        <span id="message">Start site provisioning...</span>
        <span id="loadingbar" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color:#000"></span>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var counter = 0;

            $('#btn_siteProvisioning').click(function () {
                startSiteProvisioning();
            });

            function startSiteProvisioning() {
                $('#panel_operation').hide();
                $('#panel_status').show();
                $.post("/O365SiteProvisioning/StartSiteProvisioning")
                .done(function () {
                    checkSiteProvisioningStatus();
                })
                .fail(function (jqxhr, textStatus, error) {
                    $('#loadingbar').hide();
                    $('#message').text("Request failed. " + error);
                });
            }

            function checkSiteProvisioningStatus() {
                $.getJSON("/O365SiteProvisioning/GetSiteProvisioningStatus?timestamp=" + (new Date()).getTime())
                .done(function (data) {
                    if (data.phase == "provision site collection" && counter++ > 50) {
                        location.reload();
                        return;
                    }
                    $('#message').text(data.message);
                    if (data.status == "RanToCompletion") {
                        $('#loadingbar').hide();
                    }
                    else
                    {
                        setTimeout(checkSiteProvisioningStatus, 20000);
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    $('#loadingbar').hide();
                    $('#message').text("Request failed. " + error);
                });
            };

            @if (ViewBag.siteProvisioningInProgress == true)
            {
                @:startSiteProvisioning();
            }
        });
    </script>
}