@{
    ViewBag.Title = "Site Provisioning";
}

<h3>
    @ViewBag.Message
</h3>

<script>
    window.onload = function () {
        var refreshPage = "@ViewBag.refresh",
            timeout = 30000;

        if (refreshPage) {
            setTimeout(function () {
                location.reload();
            }, timeout);
        }
    }
</script>