@{
    ViewBag.Title = "Provisioning Demo Data";
}

@using (Html.BeginForm("CreateDemoData", "O365SiteProvisioning", FormMethod.Post))
{
    <div class="row">
        <h2>Provisioning Demo Data</h2>

        @Html.ValidationSummary(true)

        <input class="btn btn-default" type="submit" value="Populate" />
    </div>

    <div class="row">
        <h4>@ViewBag.Message</h4>
    </div>
}
