<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Azure Active Directory</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>clientId</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>clientId</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>authority</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>authority</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>

		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>redirectUriString</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>redirectUriString</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Site Collection</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
    <dict>
      <key>AutocapitalizationType</key>
      <string>None</string>
      <key>AutocorrectionType</key>
      <string>No</string>
      <key>DefaultValue</key>
      <string></string>
      <key>IsSecure</key>
      <false/>
      <key>Key</key>
      <string>demoSiteServiceResourceId</string>
      <key>KeyboardType</key>
      <string>URL</string>
      <key>Title</key>
      <string>demoSiteServiceResourceId</string>
      <key>Type</key>
      <string>PSTextFieldSpecifier</string>
    </dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>demoSiteCollectionUrl</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>demoSiteCollectionUrl</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dispatcher</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>dispatcherEmail</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>dispatcherEmail</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
