
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<h2>Upload file to ME (https://graph.microsoft.com/beta/me/files)</h2>

@using (Html.BeginForm("UploadToMe", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

<br>
<br>

<h2>Upload file to Unified Group (https://graph.microsoft.com/beta/TENANCY.sharepoint.com/groups/GROUP GUID/files)</h2>

@using (Html.BeginForm("UploadToGroup", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}