
@{
    ViewBag.Title = "VerifyIssues";
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<style>
    ul.test , .test li{
        list-style:inherit;
        padding:10px;
        margin:10px;
    }
    .test li p:first-child{
        font-weight:bold;
    }
</style>
<h2>Verify Issues: </h2>

<ul class="test">
    <li>
        <p>
            Groups Capabilities | Members --- Use MS Graph API to get a user's personal photo.
        </p>
        <p>
            result: @ViewBag.personalphoto
        </p>
    </li>
    <li>
        <p>
            Groups Capabilities | Users  --- Add a user to a unified group.
        </p>
        <p>
            result: @ViewBag.addUserToGroup
        </p>
    </li>
    <li>
        <p>
            Groups Capabilities | Conversation Thread  --- Don’t know how to get the url for a conversation, and couldn’t get it through the Graph Explorer either.
        </p>

    </li>
    <li>
        <p>
            Groups Capabilities | Shared Calendar  --- Verify how to read/create the events/reminder associated with the unified group via Microsoft Graph API
        </p>
        <p>
            result: @ViewBag.sharedCalendar
        </p>
    </li>
    <li>
        <p>
            Group Capabilities | Emails --- Graph API issued is used to get the email list.
        </p>
        <p>
            result: @ViewBag.messagescount
        </p>
    </li>
</ul>

