@model DashboardInspectionDetailsViewModel

<h1>Repair Approved</h1>
<form>
    <div class="dispatcher-comments">
        <div class="content-row">
            <label>
                Dispatcher comments
            </label>
            @Html.TextAreaFor(m => m.incident.sl_dispatcherComments, new { @readonly = "readonly" })
        </div>
    </div>

    <div class="content-row">
        @Html.Partial("Inspection", Model)
    </div>

    <div class="content-row">
        <div class="section">
            <h1>Repair</h1>
            <div class="bg-white repair-details">
                <div class="content-block">
                    <div class="fs-smaller">Photos</div>
                    <div class="photos-lists">
                        <ul class="clear">
                            @foreach (var item in Model.repairPhotos)
                            {
                                <li>
                                    <div class="crop">
                                        <img src="@item.imgUrl" />
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="bottom-bar">
                    <a href="javascript:popupwindow('.repair-comments-window')" class="f-teal fs-smaller ff-semilight">
                        <i class="icon-appbardrawpencil fs-reg"></i>
                        See repair comments
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>