@model SuiteLevelWebApp.Models.DashboardInspectionDetailsViewModel

<h1>Repair in Progress</h1>
<form>
    <div class="dispatcher-comments">
        <div class="content-row">
            <label>
                Dispatcher comments
            </label>
            @Html.TextAreaFor(m => m.incident.sl_dispatcherComments, new { @readonly = "readonly" })

        </div>
    </div>
    <div class="content-row">
            @Html.Partial("Inspection", Model)
    </div>
</form>