@{
    ViewBag.Title = "Property Manager My App";
}

<div class="jumbotron">
    <h1>Property Manager My App</h1>
    <p><a href="https://github.com/OfficeDev/Property-Inspection-Code-Sample" class="btn btn-primary btn-lg">Get the latest version of the source code and installation instructions on GitHub &raquo;</a></p>
</div>
