@{
    ViewBag.Title = "Mail App for Office Configuration Instructions";
}

<div class="jumbotron">
    <h1>Mail App for Office</h1>
    <p class="lead">This page includes helpful information about the Mail App for Office and how to install it.</p>
    <p><a href="https://github.com/OfficeDev/Property-Inspection-Code-Sample" class="btn btn-primary btn-lg">Download the source code from GitHub &raquo;</a></p>
</div>
<div class="row">
    <h2>Overview</h2>
    <p>
        The Mail App for Office uses Outlook and Outlook Web Access to display data from Office 365 SharePoint lists.  The Mail App for Office is implemented with two main components.
        <ul>
            <li>Mail App for Office – xml file installed on the O365 tenancy as an Exchange App</li>
            <li>Web pages – Part of the Property Manager My App running on ASP.NET MVC</li>
        </ul>
        The sections below provide more information about these components and how to get up and running.</p>
</div>
<div class="row">
    <h2>Getting Started</h2>
    Some configuration is required to enable the Mail App for Office to work with an O365 environment.  Read on to learn about the configuration process.
    <h3>Mail App for Office</h3>
    <p>The Mail App for Office runs on an ASP.NET Web site.  You must configure the Mail App for Office to use the web site where you deployed the Property Manager My App.  To configure the Mail App for Office to use your web site follow these instructions.</p>
    <h4>Modify Manifest</h4>
    <ol>
        <li>Open the <b>MailAFO Visual Studio Solution</b></li>
        <li>In the MailAFO project, open the <b>MailAFO.xml</b> file</li>
        <li>Replace the <b>SourceLocation endpoints</b> in the DesktopSettings, TabletSettings, and PhoneSettings nodes with the URL to your Property Manager My App ASP.NET web site.<br />
           Use the following template for the SoureLocation URL:
           https://&lt;Your Web Site&gt;.azurewebsites.net/Mailafo/redir
        </li>
        <li>Save <b>MailApp.xml</b></li>
        <li>Right click the MailApp project and select <b>Publish</b></li>
        <li>Click <b>Package the app</b></li>        
    </ol>   
    <h3>Mail App for Office Installation</h3>
    <ol>
        <li>Log into your O365 Tenancy with your admin account</li>
        <li>Click the <b>waffle</b> button, then click the <b>Admin app</b>
    <br />
    <img src="~/Content/Images/Mail AFO - Admin.png" />
</li>
        <li>In the left menu, click <b>Exchange</b></li>
        <li>Under organization, click <b>apps</b></li>
        <li>Click the <b>+ icon</b> to add a new app</li>
        <li>Select <b>Add from file</b></li>
        <li>In the dialog select the <b>MailAppManifest.xml file</b> you created when you published the MailApp project</li>
        <li>Click <b>next</b></li>
    </ol>    
    <h3>Finished!</h3>
    <p>Now you can use the Mail App for Office.</p>
    <p>When demo users open an email with the string <b>Incident ID: &lt;number&gt;</b> in the email body they can view the Incident details in the Mail App for Office by clicking the Property Details link.
        <br />
        <img src="~/Content/Images/Mail AFO - Link.png" />
    </p>
    <p>When the Mail App for Office loads, users are taken to a redirect page which uses office.js to extract the Incident ID from the email body.  This page includes the text <b>Redir</b> so you can see it happening in the demo.  In a production scenario you might display loading text or leave this page blank.
        <br />
        <img src="~/Content/Images/Mail AFO - Redir.png" />
    </p>
    <p>
        The redirect page then uses JavaScript to redirect to another controller (index.cshtml) and passes the IncidentId on the query string.  The second controller uses the IncidentId passed to it to invoke the server side O365 ASP.NET APIs to retrieve the data from SP.
        <br />
        <img src="~/Content/Images/Mail AFO - Incident Details.png" />
    </p>
    <h2>
        Technical Details
    </h2>
    These files contain the code which implements the Mail App for Office:
    <ul>
        <li>/Controllers/MailAFOController.cs</li>        
        <li>/Views/MailAFO/Redir.cshmtl</li>
        <li>/Views/MailAFO/Index.cshtml</li>
        <li>/Models/MailAFOModel.cs</li>
        <li>/Models/Dashboard.cs</li>
    </ul>
</div>
