body {
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sp-top-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #000;
    background-image: url('Images/topbar-left.png');
    background-position: -55px center;
    background-repeat: no-repeat;
    text-align: left;
    z-index: 99999;
}

    .sp-top-bar > span {
        display: block;
        float: left;
        height: 50px;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 48px;
        margin-left: 156px;
        color: #fff;
        background-color: #000;
    }

    .sp-top-bar > div {
        float: right;
        height: 50px;
        padding: 0 30px 0 15px;
        border-left: 1px solid #4c4c4c;
        text-align: right;
    }

    .sp-top-bar div .navbar-nav li {
        background-color: #fff;
    }

    .sp-top-bar div .navbar-nav a {
        display: inline-block;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        padding: 0 10px;
        margin: 0;
        background-color: #000;
    }

        .sp-top-bar div .navbar-nav a:hover {
            color: #fff;
            background-color: rgba(0,0,0,0.5);
        }

    .sp-top-bar div .navbar-nav li.navbar-text {
        display: inline-block;
        background-color: #000;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        padding: 0 20px 0 0;
        margin: 0;
    }

.clear:after {
    display: block;
    content: "";
    clear: both;
    float: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-18 {
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.color-blue {
    color: #4ca1ff;
}

a:focus {
    text-decoration: none;
}

label {
    font-weight: normal;
}

.contoso-demo {
    padding-bottom: 30px;
}

    .contoso-demo > header {
        background-color: #4ca1ff;
    }

        .contoso-demo > header img {
            display: inline-block;
            vertical-align: middle;
        }

        .contoso-demo > header h1 {
            display: inline-block;
            width: 130px;
            color: #fff;
            margin: 0 0 0 10px;
            line-height: .9em;
            vertical-align: middle;
        }

        .contoso-demo > header a:hover {
            text-decoration: none;
        }

        .contoso-demo > header > div:after {
            display: inline-block;
            content: "";
            height: 121px;
            vertical-align: middle;
        }

    .contoso-demo .wrapper {
        width: 1180px;
        margin: 0 auto;
    }

    .contoso-demo .contoso-container {
        display: table;
        width: 100%;
        min-height: 708px;
        margin-top: 20px;
    }

        .contoso-demo .contoso-container > ul {
            display: table-row;
        }

.gradient-split {
    display: table-cell;
    width: 9px;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666666 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666666 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #666666 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #666666 0%,#ffffff 100%); /* W3C */
}

.left-panel {
    display: table-cell;
    width: 373px;
    background-color: #eeeeee;
    vertical-align: top;
    padding-bottom: 20px;
}

    .left-panel header {
        background-color: #cbcbcb;
    }

    .left-panel h1 {
        margin: 0 0 0 50px;
        padding: 11px 0 9px;
        color: #000;
    }

    .left-panel ul {
        padding: 0;
        margin: 0;
    }

    .left-panel li {
        list-style: none;
    }

        .left-panel li:after {
            display: block;
            content: "";
            border-bottom: 1px solid #3d3d3d;
            width: 310px;
            margin-left: 40px;
        }

    .left-panel a {
        display: block;
        position: relative;
        margin: 8px 0;
    }

        .left-panel a * {
            vertical-align: top;
        }

        .left-panel a .count {
            display: inline-block;
            background-color: #000;
            color: #fff;
            width: 58px;
            font-size: 36px;
            text-align: center;
            margin: 8px 0 8px 60px;
            padding: 3px 0;
        }

        .left-panel a .menu-text {
            display: inline-block;
            margin: 18px 20px 8px 25px;
            color: #666;
            font-size: 18px;
        }

        .left-panel a:hover, .left-panel li > a.selected {
            background-color: #fff;
        }

        .left-panel a:hover {
            text-decoration: none;
        }

    .left-panel li > a:hover:before, .left-panel li > a.selected:before {
        display: inline-block;
        position: absolute;
        background-color: #fff;
        content: "";
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
        border-left: 36px solid #eeeeee;
    }

    .left-panel li > a:hover:after, .left-panel li > a.selected:after {
        display: inline-block;
        position: absolute;
        right: -36px;
        content: "";
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
        border-left: 36px solid #fff;
    }

    .left-panel .details {
        width: 310px;
        margin: 20px 0 0 40px;
    }

        .left-panel .details:after {
            display: block;
            content: "";
            border-bottom: 1px solid #3d3d3d;
            width: 310px;
        }

        .left-panel .details h3 {
            color: #666;
        }

    .left-panel .details-block {
        background-color: #fff;
        border: 1px solid #666;
    }

        .left-panel .details-block .content-row {
            width: 95%;
            margin: 5px auto;
        }

            .left-panel .details-block .content-row > * {
                display: inline-block;
                vertical-align: middle;
                padding: 6px 0;
            }

            .left-panel .details-block .content-row:first-child:after {
                display: block;
                content: "";
                border-bottom: 1px solid #3d3d3d;
                width: 270px;
                margin-left: 5px;
            }

            .left-panel .details-block .content-row span:nth-child(2) {
                width: 235px;
                text-align: right;
            }

    .left-panel .details .details-img {
        margin: 20px 0;
        position: relative;
    }

        .left-panel .details .details-img img {
            width: 100%;
        }

        .left-panel .details .details-img span {
            display: block;
            position: absolute;
            bottom: 0px;
            left: 10px;
            width: 290px;
            background-color: rgba(0,0,0,0.4);
            color: #fff;
            text-align: center;
            padding: 8px 0;
        }

    .left-panel a .right-exclamation-mark {
        display: inline-block;
        position: absolute;
        top: 20px;
        font-size: 22px;
        right: 30px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: red;
        color: #fff;
        text-align: center;
    }


.right-panel {
    display: table-cell;
    background-color: #e1e1e1;
    vertical-align: top;
    padding-bottom: 30px;
}

    .right-panel header {
        color: #666;
        font-size: 30px;
        margin: 15px 0 0 104px;
    }

    .right-panel .list {
        margin: 27px 70px 0 87px;
    }

        .right-panel .list ul {
            padding: 0;
            margin: 0;
        }

            .right-panel .list ul li {
                list-style: none;
                margin-top: 10px;
            }

                .right-panel .list ul li:nth-child(4n+1) {
                    margin-top: 0px;
                }

                .right-panel .list ul li:nth-child(n+5) {
                    display: none;
                }

    .right-panel .cta {
        position: relative;
        border: 1px solid #000;
        padding: 15px 18px;
        background-color: #fff;
    }

        .right-panel .cta img {
            width: 57px;
            height: 57px;
        }

        .right-panel .cta .content-row {
            width: 460px;
        }

            .right-panel .cta .content-row:nth-child(n+1) {
                margin-top: 5px;
            }

            .right-panel .cta .content-row > div:nth-child(1) {
                width: 210px;
            }

.contoso-property .right-panel .cta .content-row {
    width: 560px;
}

    .contoso-property .right-panel .cta .content-row > div:nth-child(1) {
        width: 320px;
    }

.right-panel .cta .img {
    margin-right: 38px;
}

.right-triangle {
    display: inline-block;
    position: absolute;
    right: 25px;
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 22px solid #008272;
}

.paging {
    margin: 30px 70px 0 0;
    float: right;
}

    .paging > * {
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
    }

    .paging > a {
        cursor: pointer;
        color: #000;
    }

        .paging > a.pages-num.selected {
            padding: 0px 4px;
            background-color: #fff;
            border: 1px solid #666;
            height: 20px;
        }

            .paging > a.pages-num.selected:hover {
                text-decoration: none;
                cursor: default;
            }

    .paging .left-arrow {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 10px solid #000;
    }

    .paging .right-arrow {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 10px solid #000;
    }

.contoso-inspection-details .form {
    margin: 15px 0 0 104px;
    width: 600px;
}

.contoso-inspection-details .dispatcher-comments > * {
    display: inline-block;
    vertical-align: middle;
}

.contoso-inspection-details .dispatcher-comments textarea {
    width: 509px;
    height: 120px;
    border: none;
    margin-left: 15px;
}

.contoso-inspection-details .form h4 {
    font-size: 24px;
    color: #666;
    margin: 20px 0 10px;
}

.contoso-inspection-details .form ul {
    padding: 0;
    margin: 0;
}

.contoso-inspection-details .form .section-main {
    background-color: #eee;
    overflow: hidden;
}

.contoso-inspection-details .form .rooms {
    background-color: #fff;
    overflow: hidden;
    padding: 15px 0;
}

    .contoso-inspection-details .form .rooms .rooms-count {
        margin: 10px 30px;
    }

    .contoso-inspection-details .form .rooms .img-scroll-control > * {
        float: left;
    }

    .contoso-inspection-details .form .rooms .left-arrow {
        cursor: pointer;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-right: 25px solid #008272;
        width: 25px;
        margin: 18px 0 0 15px;
    }

    .contoso-inspection-details .form .rooms .right-arrow {
        cursor: pointer;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #008272;
        width: 25px;
        margin: 18px 15px 0 0;
    }

    .contoso-inspection-details .form .rooms .img-container {
        position: relative;
        overflow: hidden;
        width: 499px;
        height: 87px;
        margin: 0 10px;
    }

        .contoso-inspection-details .form .rooms .img-container .img-list {
            position: absolute;
            left: 0;
        }

        .contoso-inspection-details .form .rooms .img-container li {
            display: block;
            position: relative;
            width: 153px;
            height: 87px;
            float: left;
            margin-left: 20px;
        }

            .contoso-inspection-details .form .rooms .img-container li:first-child {
                margin-left: 0;
            }

        .contoso-inspection-details .form .rooms .img-container img {
            width: 153px;
            height: 87px;
        }

        .contoso-inspection-details .form .rooms .img-container li div {
            display: block;
            position: absolute;
            background-color: rgba(0,114,198,0.74);
            width: 153px;
            height: 87px;
            color: #fff;
            top: 0;
            left: 0;
            cursor: pointer;
        }

            .contoso-inspection-details .form .rooms .img-container li div:hover {
                background-color: transparent;
            }

        .contoso-inspection-details .form .rooms .img-container li span {
            display: table-cell;
            width: 147px;
            height: 87px;
            vertical-align: bottom;
            text-align: right;
            padding: 0 3px;
        }

.contoso-inspection-details .form label {
    font-weight: normal;
}

.contoso-inspection-details .form .form-input {
    margin: 10px 0;
}

    .contoso-inspection-details .form .form-input > * {
        display: inline-block;
        font-size: 18px;
    }

    .contoso-inspection-details .form .form-input label {
        width: 150px;
    }

    .contoso-inspection-details .form .form-input select {
        border: none;
        background-color: #fff;
    }

.contoso-inspection-details .form-bottom-button {
    margin-top: 30px;
    text-align: right;
}

    .contoso-inspection-details .form-bottom-button button {
        border: none;
        background-color: #008272;
        color: #fff;
        padding: 8px 15px;
        font-size: 18px;
        min-width: 170px;
        text-align: center;
        margin-left: 30px;
        border: 1px solid #008272;
    }

        .contoso-inspection-details .form-bottom-button button.white {
            background-color: transparent;
            color: #000;
        }

.contoso-inspection-details .form .photos-lists {
    margin: 38px 0 0 20px;
    padding-bottom: 50px;
}

    .contoso-inspection-details .form .photos-lists li {
        list-style: none;
        float: left;
        margin-right: 15px;
    }

        .contoso-inspection-details .form .photos-lists li img {
            max-width: 240px;
        }

.contoso-inspection-details .form .bottom-bar {
    background-color: #cbcbcb;
    height: 32px;
    text-align: right;
}

    .contoso-inspection-details .form .bottom-bar .btn-icon-1 {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('/Content/Images/btn-icon-1.png');
        cursor: pointer;
        margin-right: 40px;
    }

    .contoso-inspection-details .form .bottom-bar .btn-icon-2 {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('/Content/Images/btn-icon-2.png');
        cursor: pointer;
        margin-right: 40px;
    }

.contoso-inspection-details .form .error-message {
    display: none;
    color: red;
}

.popup-window {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 999999;
}

    .popup-window .content-area {
        width: 880px;
        margin: 100px auto 0;
        background-color: #fff;
        padding: 20px 0;
        position: relative;
    }

    .popup-window h3, .popup-window .content-row {
        margin: 20px 60px;
        color: #666;
    }

        .popup-window .content-row > * {
            float: left;
        }

        .popup-window .content-row > label {
            width: 14%;
        }

        .popup-window .content-row > div {
            width: 86%;
        }

        .popup-window .content-row input, .popup-window .content-row textarea {
            background-color: #eee;
            color: #000;
            border: none;
            width: 100%;
        }

        .popup-window .content-row textarea {
            min-height: 200px;
        }

        .popup-window .content-row.img {
            text-align: center;
            margin-top: 40px;
        }

        .popup-window .content-row img {
            max-width: 100%;
            max-height: 350px;
            float: none !important;
        }

    .popup-window .popup-window-fork {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        right: -20px;
        top: -20px;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

        .popup-window .popup-window-fork:before {
            display: block;
            content: "";
            position: absolute;
            width: 5px;
            height: 35px;
            background-color: #000;
            transform: rotate(40deg);
            left: 24px;
            top: 8px;
        }

        .popup-window .popup-window-fork:after {
            display: block;
            content: "";
            position: absolute;
            width: 5px;
            height: 35px;
            background-color: #000;
            transform: rotate(-40deg);
            left: 24px;
            top: 8px;
        }
