@{
    ViewBag.Title = "Icon Attribution";
}
@Styles.Render("~/Content/iconAttribution.css")

<div class="jumbotron">
    <h1>Icon Attribution</h1>
    <p>A few of the icons used in creating graphics displayed for these projects have been used under creative commons, and designed by the following designers.  Most icons have been modified to fit the project parameters of color and size.  Thanks to each and every one!</p> 
</div>

<table>
    <tr>
        <td><img src="~/Content/Images/ico-wifi.png" /></td>
        <td><div>Icon made by <a href="http://www.icons8.com" title="Icons8">Icons8</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-warning.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-structure.png" /></td>
        <td><div>Icon made by <a href="http://www.zurb.com" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-stove.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-settings.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-search.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-rooms.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-repair.png" /></td>
        <td><div>Icon made by <a href="http://www.elegantthemes.com" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-plus.png" /></td>
        <td><div>Icon made by <a href="http://www.google.com" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-owner.png" /></td>
        <td><div>Icon made by <a href="http://www.zurb.com" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-office-contact.png" /></td>
        <td><div>Icon made by <a href="http://www.danielbruce.se" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-location.png" /></td>
        <td><div>Icon made by <a href="http://www.google.com" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-inspect.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-home.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-finalize.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-faucet.png" /></td>
        <td><div>Icon made by <a href="http://www.unocha.org" title="OCHA">OCHA</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-electric.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-comments.png" /></td>
        <td><div>Icon made by <a href="http://www.google.com" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-cancel.png" /></td>
        <td><div>Icon made by <a href="http://www.google.com" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-camera.png" /></td>
        <td><div>Icon made by <a href="http://www.danielbruce.se" title="Daniel Bruce">Daniel Bruce</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-calendar.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-battery.png" /></td>
        <td><div>Icon made by <a href="http://yanlu.de" title="Yannick">Yannick</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-attention.png" /></td>
        <td><div>Icon made by <a href="http://www.icons8.com" title="Icons8">Icons8</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
    <tr>
        <td><img src="~/Content/Images/ico-at.png" /></td>
        <td><div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
</table>

