@{
    ViewBag.Title = "iOS Apps Configuration Instructions";
}

<div class="jumbotron">
    <h1>Walkthrough</h1>
    <p class="lead">The PowerPoint slide deck describes how to prep your environment with sample data and execute the sample scenario end to end.  It also describes all of the different places where data is created or updated throughout the entire scenario. This is an excellent place to see what this demo really does and how the scenario in it unfolds.</p>
    <p><a href="https://github.com/OfficeDev/Property-Inspection-Code-Sample/blob/master/Documents/Demo%20Prep%20And%20Walkthrough.pptx" class="btn btn-primary btn-lg">Download the PowerPoint slide deck&raquo;</a></p>
</div>