@if (Request.IsAuthenticated)
{
    <div class="text-right ff-light f-white fs-reg">
        Hi <span class="ff-italic">@User.Identity.Name!</span> @Html.ActionLink("Sign out", "SignOut", "Account")
    </div>
}
else
{
    <div class="text-right">
        @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>

}