@{
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
    ViewBag.Title = "Subscription";

}

<div class="container body-content subsciption">
    <div class="row">
        <label class="ms-Label"> Working with Webhooks in Microsoft Graph </label>
    </div>
    <div class="row">
        <div class="ms-font-m"><a href="https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/webhooks" target="_blank" class="ms-Link">Webhooks Documents</a></div>
    </div>
    <br>
    <br>
    @*<div class="row">
        @using (Html.BeginForm("DeleteSubscription", "WebHooks", FormMethod.Post))
        {
            <br>
            <input type="text" placeholder="Please type subscription  Id" class="text form-control  form-inline col-md-10" style="margin-left:10px" name="subscriptionId" />
            <br>
            <button type="submit" class="ms-Button">
                <span class="ms-Button-icon">
                    <i class="ms-Icon ms-Icon--plus"></i>
                </span>
                <span class="ms-Button-label">Delete Subscription</span>
                <span class="ms-Button-description">Delete Subscription</span>
            </button>
        }

    </div>*@
</div>
