/*--------------------------------------------------------------------*/
/*Fonts*/
/*--------------------------------------------------------------------*/

/*Normal*/
@font-face {
    font-family: 'sc_segoe-ui_normal';
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot');
    src: local("Segoe UI"),local("Segoe"),local("Segoe WP"),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix') format('embedded-opentype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf') format('truetype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Light*/
@font-face {
    font-family: 'sc_segoe-ui_light';
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot');
    src: local("Segoe UI Light"),local("Segoe WP Light"),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix') format('embedded-opentype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff') format('woff'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf') format('truetype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Semi-Bold*/
@font-face {
    font-family: 'sc_segoe-ui_semibold';
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot');
    src: local("Segoe UI Semibold"),local("Segoe Semibold"),local("Segoe WP Semibold"),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix') format('embedded-opentype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff') format('woff'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf') format('truetype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Semi-Light*/
@font-face {
    font-family: "sc_segoe-ui_semilight";
    src: url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semilight/latest.eot');
    src: local("Segoe UI Semilight"),local("Segoe Semilight"),local("Segoe WP Semilight"),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semilight/latest.eot?#iefix') format('embedded-opentype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semilight/latest.woff') format('woff'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semilight/latest.ttf') format('truetype'),url('//i.s-microsoft.com/fonts/segoe-ui/west-european/Semilight/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------------------*/
/*Font Families*/
/*--------------------------------------------------------------------*/

.ff-reg {
    font-family: sc_segoe-ui_semilight, 'Segoe UI Semilight', Arial, sans-serif;
}

.ff-light {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
}

.ff-semilight {
    font-family: sc_segoe-ui_semilight, 'Segoe UI Semilight', Arial, sans-serif;
}

.ff-semibold,
strong {
    font-family: sc_segoe-ui_semibold, 'Segoe UI Semibold', Arial, sans-serif;
}

.ff-italic {
    font-style: italic;
}

/*--------------------------------------------------------------------*/
/*Font Colors*/
/*--------------------------------------------------------------------*/

.f-gray,
.f-gray:visited {
    color: #000000;
}

.f-gray-med {
    color: #9c9c9c;
}

.f-gray-light {
    color: #f4f4f4;
}

.f-orange,
.f-orange:visited,
.f-orange:hover,
.f-orange:active,
.f-gray:hover,
.f-gray:active {
    color: #eb3c00;
}

.f-white,
.f-white:visited,
.f-white:hover,
.f-white:active {
    color: #ffffff;
}

.f-blue {
    color: #0071c5;
}

.f-teal {
    color: #008171;
}

    .f-teal:hover,
    .f-teal:focus,
    .f-teal:active,
    .f-blue a:hover {
        color: #000000 !important;
    }

/*--------------------------------------------------------------------*/
/*Font Sizes*/
/*--------------------------------------------------------------------*/

.fs-smallest {
    font-size: 10px;
}

.fs-smaller {
    font-size: 12px;
}

.fs-small {
    font-size: 14px;
}

.fs-reg {
    font-size: 16px;
}

.fs-large {
    font-size: 18px;
}

.fs-xlarge {
    font-size: 24px;
}

/*--------------------------------------------------------------------*/
/*Custom Typography*/
/*--------------------------------------------------------------------*/

/*Paragraph Styles*/
body,
p {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    word-break: break-word;
    -ms-word-break: break-word;
}

/*Header Styles*/
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 15px;
}

h1 {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    font-size: 24px;
    color: #000000;
}

h2 {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    font-size: 20px;
    color: #000000;
}

h3 {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    font-size: 24px;
    color: #000000;
}

.trending-docs h3 {
    font-size: 15px;
    margin-bottom: 2px !important;
}

h4 {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
}

/*Link Styles*/
a {
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #000000;
    }

    a:focus,
    a:after {
        color: #000000;
        text-decoration: none;
    }

.trending-docs a,
.trending-docs span {
    color: #008171;
    padding-left: 10px;
    font-size: 12px;
}

.trending-docs span {
    color: gray;
}

.trending-docs .content-row span {
    padding-left: 10px;
    font-size: 12px;
}

.field-validation-error {
    color: red;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------*/
/*Background Colors*/
/*--------------------------------------------------------------------*/

.bg-gray-dark {
    background-color: #505050;
}

.bg-gray-med {
    background-color: #d3d3d3;
}

.bg-gray-light {
    background-color: #f1f2f2;
}

.bg-coral {
    background-color: #fbdfd4;
}

.bg-orange {
    background-color: #de5900;
}

.bg-white {
    background-color: #ffffff;
}

.bg-blue {
    background-color: #0071c5;
}

.bg-teal {
    background-color: #008171;
}

/*--------------------------------------------------------------------*/
/*Padding and Alignment*/
/*--------------------------------------------------------------------*/

.container {
    width: 957px !important;
}

.noPad {
    padding: 0 0 0 0;
}

.center {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.center-row {
    display: table;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.body-content img {
    width: 100%;
}

.body-content .bg-gray-light {
    padding: 30px 30px 30px 0;
    margin-bottom: 50px;
}

.crop {
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
    position: relative;
    width: 186px;
    height: 80px;
}

    .crop img {
        position: absolute;
        top: -25px;
    }

.inspection-details .crop,
.repair-details .crop {
    float: left;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
    width: 278px;
    height: 160px;
}

.inspection-details li:nth-child(even) .crop,
.repair-details li:nth-child(even) .crop {
    margin-right: 0;
}

.inspection-details .crop img,
.repair-details .crop img {
    position: absolute;
    top: -25px;
}

/*--------------------------------------------------------------------*/
/*Forms: Buttons, Dropdowns and Labels*/
/*--------------------------------------------------------------------*/

button {
    border: none;
    color: #fff;
    background-color: #008171;
}

    button[disabled], button[disabled]:hover {
        background-color: #808080;
    }

    button:hover,
    button:active,
    button:focus {
        background-color: #505050;
    }

.button-large {
    padding: 10px 30px;
    font-size: 24px;
}

.secondary-btn {
    margin-right: 10px;
    background-color: #505050;
}

    .secondary-btn:hover,
    .secondary-btn:focus,
    .secondary-btn:active {
        background-color: #989898;
    }

textarea {
    padding: 10px;
    font-size: 12px;
    border: none;
    width: 100%;
}

label {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all,
.ui-selectmenu-button.ui-widget.ui-state-default.ui-state-focus.ui-corner-top,
.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-top,
.ui-menu-item {
    width: 170px !important;
    height: 20px;
    border: none;
    border-radius: 0;
    font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
    font-size: 12px;
    color: #737373;
    background-color: #fff !important;
    background: #fff !important;
    margin-left: -5px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 1px 6px !important;
}

.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item {
    padding: 0 0 0 2em;
}

.ui-selectmenu-text img {
    width: 10px;
    vertical-align: 0;
    margin-right: 5px;
}

.ui-menu .ui-menu-item,
.ui-menu-item .ui-state-focus {
    line-height: 20px;
    padding: 0;
    border: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background-color: #f1f2f2;
    border: none !important;
}

/*--------------------------------------------------------------------*/
/*Icons*/
/*--------------------------------------------------------------------*/

i {
    display: inline-block;
    vertical-align: middle;
}

.bg-gray-dark i {
    color: #fff;
}

.bg-gray-med i {
    color: #000000;
}

.right-arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #008171;
    display: block;
    float: right;
    margin-left: 10px;
}

.left-arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #008171;
    display: block;
    float: left;
}

.right-panel .content .pull-left i {
    color: #D2D2D2;
}

/*--------------------------------------------------------------------*/
/*HEADER Office Banner*/
/*--------------------------------------------------------------------*/
.office-banner {
    min-height: 40px;
    width: 100%;
    padding-right: 0;
}

.office-logo {
    height: 22px;
    margin: 9px 0;
}

.office-banner a {
    font-size: 13px;
    font-family: sc_segoe-ui_semilight, 'Segoe UI Semilight', Arial, sans-serif;
    color: #fff;
}

.contoso-logo {
    margin: 18px 0;
}

/*--------------------------------------------------------------------*/
/*HEADER Branding*/
/*--------------------------------------------------------------------*/

.branding {
    margin-top: 30px;
    margin-bottom: 15px;
}

    .branding a {
        font-size: 36px;
    }

header .bg-teal {
    height: 100px;
}

.login-area {
    margin-top: 40px;
}

    .login-area div {
        line-height: 20px;
    }

    .login-area a,
    .login-area a:hover,
    .login-area a:focus,
    .login-area a:active {
        font-family: sc_segoe-ui_light,'Segoe UI Light', Arial,sans-serif;
        color: #fff;
        font-size: 16px;
        text-decoration: underline;
    }

/*--------------------------------------------------------------------*/
/*BODY CONTENT Left Column*/
/*--------------------------------------------------------------------*/

.body-content .left-panel .details {
    padding-left: 30px;
}

.body-content .left-panel .left-tabs a {
    display: block;
    padding: 10px 0 10px 30px;
    height: 50px;
    margin: 10px 0;
}

    .body-content .left-panel .left-tabs a.selected {
        background-color: #fff;
        font-family: sc_segoe-ui_semibold, 'Segoe UI Semibold', Arial, sans-serif;
    }

.body-content .left-panel .details .details-img {
    margin-bottom: 10px;
}

.body-content .left-panel .details h2 {
    margin-bottom: 5px;
}

.body-content .left-panel .trending-docs h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

    .body-content .left-panel .trending-docs h2:first-child {
        margin-top: 0;
    }

.body-content .left-panel .trending-docs .details-block {
    margin-bottom: 0px;
}

    .body-content .left-panel .trending-docs .details-block + a,
    .body-content .left-panel .trending-docs .details-block + span {
        display: block;
        line-height: 1em;
        margin-top: 10px;
    }

    .body-content .left-panel .trending-docs .details-block:last-of-type {
        margin-bottom: 0;
    }

.body-content .left-panel .content-row {
    line-height: 16px;
}

.body-content .left-panel .count-circle {
    width: 30px;
    height: 30px;
    background-image: url('/Content/Images/gray-bg.png');
    position: absolute;
}

.body-content .left-panel .orange-count-circle {
    width: 30px;
    height: 30px;
    background-image: url('/Content/Images/orange-bg.png');
    position: absolute;
}

.body-content .left-panel .menu-text {
    position: absolute;
    left: 85px;
}

.body-content .left-panel .count {
    position: absolute;
    left: 46px;
    z-index: 1;
    width: 30px;
    text-align: center;
}

.content-block {
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.body-content .left-panel .profile-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.body-content .left-panel .profiles {
    margin-bottom: 10px;
}

.body-content .left-panel .trending-docs {
    padding: 15px;
}

.groupusers .imageOfNameImage {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.groupusers .ms-Persona-secondaryText {
    display: none;
}

.ms-Persona-wrapper {
    position: relative;
    display: none;
    margin-top: 5px;
}

    .ms-Persona-wrapper > div {
        position: absolute;
        width: 360px;
        z-index: 1;
    }

#left-panel-wrapper h2 .ms-Icon {
    margin: 3px 10px 0 0;
    color: #008272;
    font-size: 20px;
}

    #left-panel-wrapper h2 .ms-Icon:last-child {
        float: right;
        margin: 3px 12px 0 0;
        color: #008272;
        font-size: 20px;
    }

#left-panel-wrapper h2 {
    font-size: 17px;
}

#left-panel-wrapper .ms-Persona--xs .ms-Persona-primaryText {
    font-size: 12px;
}

#members .content-row > .ms-Persona {
    cursor: pointer;
}

#left-panel-wrapper, #left-panel-wrapper a, #left-panel-wrapper h2 {
    font-family: sc_segoe-ui_normal, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    #left-panel-wrapper > .content-block:nth-of-type(n + 4) {
        margin-bottom: 0;
    }

        #left-panel-wrapper > .content-block:nth-of-type(n + 4) a {
            font-size: 12px;
        }

        #left-panel-wrapper > .content-block:nth-of-type(n + 4) > .content-row:nth-of-type(n + 2) {
            background-color: white;
            padding: 3px 5px 3px 25px;
        }

        #left-panel-wrapper > .content-block:nth-of-type(n + 4) > .content-row {
            line-height: 20px;
        }

        #left-panel-wrapper > .content-block:nth-of-type(n + 4) > .details-block > .content-row {
            padding: 7px 5px 7px 25px;
        }

            #left-panel-wrapper > .content-block:nth-of-type(n + 4) > .details-block > .content-row:nth-child(2n + 1) {
                background-color: #f6f6f6;
            }

            #left-panel-wrapper > .content-block:nth-of-type(n + 4) > .details-block > .content-row:nth-child(2n) {
                background-color: white;
            }

        #left-panel-wrapper > .content-block:nth-of-type(n + 4) h2 {
            background-color: white;
            padding: 15px 0 10px 15px;
            margin-bottom: 0;
            cursor: pointer;
        }


    #left-panel-wrapper a.seemorelink {
        font-size: 11px;
        color: #008171;
        position: relative;
        display: inline-block;
        line-height: 24px;
        margin-top: 5px;
    }

        #left-panel-wrapper a.seemorelink:after {
            content: "\e258";
            display: inline-block;
            position: relative;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            left: 22px;
            top: 2px;
            color: #008171;
        }

        #left-panel-wrapper a.seemorelink:before {
            content: "";
            display: block;
            position: absolute;
            left: 69px;
            top: 4px;
            width: 18px;
            height: 18px;
            border: 1px solid #008171;
            border-radius: 10px;
        }

    #left-panel-wrapper .link-see-more {
        position: relative;
    }

        #left-panel-wrapper .link-see-more a:nth-child(2) {
            float: right;
            margin-right: 18px;
            color: #008272;
        }

        #left-panel-wrapper .link-see-more > .callout-wrapper {
            display: none;
            position: absolute;
            left: 220px;
            top: -57px;
        }

    #left-panel-wrapper .task .ms-Callout-inner p {
        font-family: sc_segoe-ui_normal, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

        #left-panel-wrapper .task .ms-Callout-inner p span {
            display: inline-block;
            width: 90px;
        }

    #left-panel-wrapper .task .ms-Callout-actions {
        display: none;
    }

.body-content .left-panel .upload-file-block {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
}

    .body-content .left-panel .upload-file-block .form-button {
        text-align: right;
        margin-right: 10px;
        margin-left: 15px;
    }

        .body-content .left-panel .upload-file-block .form-button input[type=file] {
            width: 240px;
        }

/*--------------------------------------------------------------------*/
/*BODY CONTENT Right Column*/
/*--------------------------------------------------------------------*/

.right-panel .content {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

    .right-panel .content .pull-left {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 430px;
    }

.home .right-panel .content .pull-left {
    margin-top: 0;
    margin-bottom: 0;
}

.right-panel .content .pull-right {
    width: 128px;
    min-height: 80px;
    padding: 5px 10px 10px 10px;
}
.right-panel a.pull-right{
    opacity:0.8
}
.right-panel a.pull-right:hover{
    opacity:1
}
.right-panel .content .icon-appbartools {
    font-size: 90px;
}

    .right-panel .content .icon-appbartools.pull-left {
        margin: -20px 0 -20px -20px;
        width: auto;
    }

.right-panel .content .pull-left h2 {
    margin-bottom: 8px;
    line-height: 14px;
}

.right-panel .content .pull-left .fs-smaller,
.right-panel .content-row .bg-teal .fs-smaller {
    line-height: 14px;
}

.right-panel .content-row .bg-teal .label {
    font-size: 20px;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    display: inline-block;
    font-weight: normal;
    text-align: left;
}

.right-panel .content-row .bg-teal a {
    text-decoration: underline;
    vertical-align: top;
    float: left;
}

.home .right-panel .text-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-panel form label {
    vertical-align: top;
}

.right-panel form textarea {
    height: 90px;
}

.right-panel .inspection-details,
.right-panel .repair-details {
    padding: 10px;
}

.mail .right-panel .inspection-details,
.mail .right-panel .repair-details {
    margin-top: 15px;
}

.right-panel .inspection-details .bottom-bar,
.right-panel .repair-details .bottom-bar {
    background-color: #d2d2d2;
    height: 30px;
}

    .right-panel .inspection-details .bottom-bar a,
    .right-panel .repair-details .bottom-bar a {
        padding-left: 10px;
    }

.right-panel .inspection-details .photo-lists,
.right-panel .repair-details .photo-lists {
    width: 100%;
    display: inline-block;
}

.right-panel .inspection-details button,
.right-panel .repair-details button {
    padding: 0 40px;
}

.right-panel .videos li {
    margin-bottom: 15px;
}

.right-panel form .content-row {
    margin-bottom: 30px;
}

.right-panel .schedule-repair label {
    width: 80px;
}

.right-panel .schedule-repair .content-row {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 20px;
}

.right-panel .create-task .content-row {
    margin-bottom: 15px;
}

.right-panel .schedule-repair .content-row.with-button {
    height: 50px;
}

.right-panel .schedule-repair .content-row .fs-smaller,
.right-panel .schedule-repair .content-row label {
    line-height: 20px;
}

.form-bottom-button {
    margin-top: 10px;
}

    .form-bottom-button:after {
        content: "";
        display: block;
        clear: both;
    }

/*--------------------------------------------------------------------*/
/*Pagination*/
/*--------------------------------------------------------------------*/

.paging .pages-num {
    color: #008171;
    font-size: 12px;
    padding-left: 10px;
    line-height: 8px;
    vertical-align: top;
}

    .paging .pages-num.selected {
        color: #000;
    }

/*--------------------------------------------------------------------*/
/*popup window*/
/*--------------------------------------------------------------------*/

.popup-window {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 999999;
}

    .popup-window .content-area {
        width: 880px;
        margin: 100px auto 0;
        background-color: #fff;
        padding: 20px 0;
        position: relative;
    }

    .popup-window h3, .popup-window h4, .popup-window .content-row {
        margin: 20px 60px;
        color: #666;
    }

    .popup-window h4 {
        margin-top: 25px;
    }

    .popup-window .content-row > * {
        float: left;
    }

    .popup-window .content-row > label {
        width: 14%;
    }

    .popup-window .content-row > div {
        width: 86%;
    }

    .popup-window .content-row input, .popup-window .content-row textarea {
        background-color: #eee;
        color: #000;
        border: none;
        width: 100%;
    }

    .popup-window .content-row textarea {
        min-height: 200px;
    }

    .popup-window .content-row .imgs {
        margin: 0 -10px;
        float: none;
    }

        .popup-window .content-row .imgs:after {
            content: "";
            display: block;
            clear: both;
        }

        .popup-window .content-row .imgs img {
            width: 240px;
            margin: 0 10px 20px 10px;
            max-height: 350px;
            float: left;
        }

    .popup-window .popup-window-fork {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        right: -20px;
        top: -20px;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

        .popup-window .popup-window-fork:before {
            display: block;
            content: "";
            position: absolute;
            width: 5px;
            height: 35px;
            background-color: #000;
            transform: rotate(40deg);
            left: 24px;
            top: 8px;
        }

        .popup-window .popup-window-fork:after {
            display: block;
            content: "";
            position: absolute;
            width: 5px;
            height: 35px;
            background-color: #000;
            transform: rotate(-40deg);
            left: 24px;
            top: 8px;
        }

.clear:after {
    display: block;
    clear: both;
    content: "";
}
