body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-fixed-top {
    top: 50px;
    background-color: #f7f3f7;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #000;
    background-image: url('Images/topbar-left.png');
    background-position: -55px center;
    background-repeat: no-repeat;
    text-align: left;
}

    header > span {
        display: block;
        float: left;
        height: 50px;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 48px;
        margin-left: 156px;
        color: #fff;
        background-color: #000;
    }

    header > div {
        float: right;
        height: 50px;
        padding: 0 30px 0 15px;
        border-left: 1px solid #4c4c4c;
        text-align: right;
        font-size: 1.2em;
        color: white;
        line-height: 50px;
    }

        header > div a {
            margin-left: 20px;
        }

    header div .navbar-nav li {
        background-color: #fff;
    }

    header div .navbar-nav a {
        display: inline-block;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        padding: 0 10px;
        margin: 0;
        background-color: #000;
    }

        header div .navbar-nav a:hover {
            color: #fff;
            background-color: rgba(0,0,0,0.5);
        }

    header div .navbar-nav li.navbar-text {
        display: inline-block;
        background-color: #000;
        font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 50px;
        color: #fff;
        padding: 0 20px 0 0;
        margin: 0;
    }

.navbar-inverse .navbar-brand {
    color: #666;
}

    .navbar-inverse .navbar-brand:hover {
        color: #333;
    }

.contoso-demo-date label {
    font-weight: normal;
}

.contoso-demo-datebtn {
    margin-left: 80px;
}
/*--------------------------------------------------------------------*/
/* Loading animation*/
/*--------------------------------------------------------------------*/
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}
